<header>
  <div class="row">
    <div class="logo1">
      <a href={`${import.meta.env.BASE_URL}`} tabindex="-1" aria-hidden="true">
        <img
          src={`${import.meta.env.BASE_URL}/icons/icon.png`}
          alt="Logo vom Land Kärnten"
          width="45"
          height="45"
        />
      </a>
    </div>
    <div class="title">
      <a href={`${import.meta.env.BASE_URL}`} title="Zur Startseite">
        <strong>Veranstaltungsdatenbank Kärnten</strong><br />
        <span class="subtitle">Die Plattform für Ihr Event</span>
      </a>
    </div>
    <div class="logo2">
      <a href={`${import.meta.env.BASE_URL}`} tabindex="-1" aria-hidden="true">
        <img
          src={`${import.meta.env.BASE_URL}/images/LandKaernten_Logo.png`}
          alt="Logo vom Land Kärnten"
          width="310"
          height="36"
        />
        <span class="">Eine Initiative der Kärntner Landesregierung</span>
      </a>
    </div>
  </div>
</header>

<style>
  header {
    background-color: lightgray;
    width: 100%;

    .row {
      display: flex;
      justify-content: space-between;
      padding: 18px 25px 18px 30px;

      .logo1 {
        display: none;
      }

      .title {
        font-size: 26px;

        a {
          text-decoration: none;
          color: black;

          .subtitle {
            font-size: 22px;
          }
        }
      }

      .logo2 {
        a {
          display: flex;
          flex-direction: column;
          font-size: 16px;
          color: black;
          text-decoration: none;
        }
      }
    }
  }
</style>
